// .section-overlay {
//   transform: scale(95%);
// }

.section-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--main);
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease;
  gap: 15px;

  .up-container {
    display: flex;
    gap: 15px;

    .right-bottom-corner {
      background-color: rgba(66, 135, 245, 0.9);
      color: var(--font);
      padding: 10px;
      border-radius: 5px;
      font-size: 3.5rem;
      width: 50px;
      height: 190px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .image-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 420px;
      height: 210px;
      cursor: pointer;
      position: relative;
      background-image: url('../../../public/images/carbg.png');
      background-size: cover;
      border-radius: 10px;
      overflow: hidden;

      .plus-icon {
        font-size: 40px;
        color: var(--font);
        position: absolute;
      }

      .section-image {
        width: 95%;
        height: 95%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .count-display {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(10, 10, 10, 0.9);
    color: var(--font);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 3.5rem;
    font-weight: 600;
    white-space: nowrap;
  }

  .under-image-content {
    display: flex;
    gap: 15px;

    .value-container {
      display: flex;
      gap: 15px;

      .value-indicator {
        color: var(--font);
        padding: 10px;
        border-radius: 5px;
        font-size: 3rem;
        width: 50px;
        font-weight: bold;
      }
    }

    .dollar {
      background-color: #2ca755;
    }

    .tv {
      background-color: #a7802c;
    }

    .cash-indicator {
      width: 50px;
      color: var(--font);
      padding: 10px;
      border-radius: 5px;
      font-size: 3rem;
      font-weight: bold;
    }
  }

  .section-input {
    white-space: nowrap;
    font-size: 3rem;
    background-color: rgba(10, 10, 10);
    color: var(--font);
    padding: 5px;
    border-radius: 5px;
    z-index: 3;
    transition: width 0.2s;
    overflow: hidden;
    text-align: center;
  }

  .name-input {
    bottom: 5px;
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 5px 10px;
    min-width: 75px;
  }

  .price-input {
    font-size: 3.75rem;
    width: calc(100% - 95px);
  }

  .serial-number-input {
    position: absolute;
    display: inline-block;
    right: 5px;
    max-width: 110px;
    padding: 5px 10px;
    bottom: 54px;
    font-weight: 600;
  }
}
