.kinda-header {
  height: 150px;
  background-color: var(--main);

  .screenshotButton {
    background-color: var(--second);
    border: none;
    color: #ded8d4;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 1;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    height: auto;
  }
}

.sections-body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background);

  .sections-center {
    display: flex;
    justify-content: center;
    width: 100%;

    .sections-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;
      width: 100%;
    }

    .add-section {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 15px dashed var(--second);
      border-radius: 15px;
      font-size: 6.4rem;
      color: var(--font);
      width: 585px;
      height: 331px;
    }
  }
}
