.info-header {
  color: var(--font);
  font-size: 2rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  margin-bottom: -10px;
  gap: 10px;
  justify-content: center;

  .info-header-link {
    color: var(--detail);

    &:hover {
      color: var(--darkdetail);
    }
  }
}

.toolbar-header {
  width: 100%;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toolbar-header-container {
    display: flex;

    .toolbar-section {
      display: flex;
      align-items: center;
      background-color: var(--second);
      width: 200px;
      min-height: 70px;
      margin: 20px 0 20px 20px;
      gap: 5px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #222425;
      }

      .toolbar-info {
        color: var(--font);
        font-size: 2.5rem;
        width: 100%;
      }
    }

    .end {
      margin-right: 20px;
    }
  }

  .info-header-button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2.5rem;
    background-color: var(--second);
    color: var(--font);
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      background-color: var(--background);
    }
  }
}

.update-section {
  width: 100%;
  background-color: var(--darkdetail);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font);
  font-size: 1.75rem;
  text-align: center;
  padding: 10px 0;
}

.sections-body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background);

  .watermark {
    position: absolute;
    right: 0;
    background-color: var(--main);
    color: var(--font);
    padding: 20px;
    padding-left: 30px;
    padding-top: 10px;
    z-index: 10;
    font-size: 3rem;
    font-weight: 500;
    border-radius: 0 0 0 50px;
  }

  .sections-center {
    display: flex;
    justify-content: center;
    width: 100%;

    .sections-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;
      width: 100%;
    }

    .add-section {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 15px dashed var(--second);
      border-radius: 15px;
      font-size: 6.4rem;
      color: var(--font);
      width: 585px;
      height: 331px;
    }
  }

  .sections-center-watermark {
    margin-top: 60px;
  }
}
